<!DOCTYPE html>
<html>
  <head>
    <title>Tellme</title>
    <link rel='stylesheet' href='/stylesheets/inbox.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
 integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
 crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body>
        
            <div class="content">
                <div class="head">
                    <a onclick="window.location.href=`/`">home</a>
                    <a style="color: blue;">inbox</a>

                </div>
                
                
                <div class="messages-wrap" id="wrap">
                    <!-- 
                      <div class="message">
                           this is just place holder thats why commented
                      </div>
                    -->
                </div>
                <div id="mess-modal">
                    <p class="close" id="close">X</p>
                    <div id="text">

                    </div>
                </div>
            </div>

            <script src="http://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
            <script>
                const socket=io();
                const username=window.localStorage.getItem("username");
                const messageWrap=document.getElementById("wrap");

                let messModal=document.getElementById("mess-modal");
                let closeButton=document.getElementById("close");
                let modalText=document.getElementById("text");

                let allMessages=[];
                
                socket.emit("active",{username});
                socket.emit("getMessages",{name:username});

                function closeModal(){
                    modalText.innerText="";
                    messModal.style.display="none";
                }
                closeButton.addEventListener("click",(e)=>{
                    closeModal();
                })

                function showMessage(message){
                    messModal.style.display="flex";
                    modalText.innerText=message;
                }

                socket.on("allMessages",(messages)=>{
                      allMessages=messages.messages;
                      allMessages.map((message)=>{
                          let messageDiv=document.createElement("div");
                          messageDiv.classList.add("message");

                          let messIcon=document.createElement("i");
                          messIcon.classList.add("fas","fa-solid","fa-message","mess-icon");
                          
                          console.log(message.message);
                          messIcon.addEventListener("click",(e)=>{
                               showMessage(message.message);
                          });

                          messageDiv.appendChild(messIcon);

                          messageWrap.appendChild(messageDiv);
                      });
                });
                socket.on("message",(data)=>{
                     allMessages.unshift(data.messageData);
                     console.log(data.messageData);
                     messageWrap.innerHTML="";
                     allMessages.map((message)=>{
                          let messageDiv=document.createElement("div");
                          messageDiv.classList.add("message");
                          
                          let messIcon=document.createElement("i");
                          messIcon.classList.add("fas","fa-solid","fa-message","mess-icon");

                          messIcon.addEventListener("click",(e)=>{
                               showMessage(message.message);
                          });

                          messageDiv.appendChild(messIcon);
                          messageWrap.appendChild(messageDiv);
                      });

                });

                
            </script>
  </body>
</html>
