<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
           const username=window.localStorage.getItem("username");
           if(username){
               console.log("in username");
           }else{
             console.log("missing username");
             window.location.href="/create";
           }
  </script>  
  </head>
  <body>
  
    <div class="content">
        <header>
          <h1>TM</h1>
          <button>menu</button>
        </header>
        <div>
          <a id="home-link" style="color: blue;">Home</a>
          <a id="inbox-link">Inbox</a>
        </div>
        <div class="url-wrap">
               <div class="image">
                  send me anonymous message
               </div>
               <div class="url" id="url"></div>
        </div>
    </div>
    <script>
      const name=window.localStorage.getItem("username");

      let inboxLink=document.getElementById("inbox-link");
      let urlDiv=document.getElementById("url")
  

      let inboxUrl=`/inbox/${name}`;
      inboxLink.addEventListener(("click"),(e)=>{
          window.location.href=inboxUrl;
      })

      let url=`http://localhost:3000/send/${name}`;
      urlDiv.innerText=url;
    </script>
  </body>
</html>
