<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
           const username=window.localStorage.getItem("username");
  </script>  
  </head>
  <body>
  
    <div class="content">
        <header class="head">
          <div class="wrap">
            <h1>TM</h1>
            <button>menu</button>
          </div>
        </header>
        <div class="links">
          <a id="home-link" style="color: blue;">Home</a>
          <a id="inbox-link">Inbox</a>
        </div>
        <div class="url-wrap">
               <div class="image-wrap">
                  <div class="image-text">
                    <img id="image" src="<%= user.source %>">
                    <p class="text">send me anonymous message</p>
                  </div>
               </div>
               <div class="url" id="url-wrap">
                    <button class="link-copy">copy link</button>
               </div>
        </div>
    </div>
    <script>
      const name=window.localStorage.getItem("username");



      let inboxLink=document.getElementById("inbox-link");
      let urlDiv=document.getElementById("url-wrap");
  

      let inboxUrl=`/inbox/${name}`;
      inboxLink.addEventListener(("click"),(e)=>{
          window.location.href=inboxUrl;
      })

      let url=`http://localhost:3000/send/${name}`;
      let urlP=document.createElement("p");
      urlP.classList.add("url-text");
      urlP.innerText=url;
      urlDiv.prepend(urlP);
    </script>
  </body>
</html>
