<!DOCTYPE html>
<html>
  <head>
    <title>Tellme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/send.css' />
  </head>
  <body>
    <div class="send-wrap">
          <div class="form-wrap">
                  <h1 id="logo">TM</h1>
                  <form id="send-form">
                    <input type="hidden" value="<%= target %>" id="username" />
                    <textarea id="text" placeholder="message"></textarea>
                    <button id="send-button" type="submit">send</button>
                  </form>

                  <a href="/" class="home-link">get your own messages</a>
          </div>
         
    </div>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script>
        let webSocketUrl=window.location.host;
        const socket=io(`wss://${webSocketUrl}`);
         
        let sendForm=document.getElementById("send-form");
        let textInput=document.getElementById("text");
        let targ=document.getElementById("username");

        

        const formSubmit=(e)=>{
            e.preventDefault();
            let text=textInput.value;
            let target=targ.value;
            textInput.value="";
            console.log(target);
            socket.emit("message",{message:text,targ:target});
        }
        sendForm.addEventListener("submit",formSubmit);

    </script>
  </body>
</html>
