<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/send.css' />
  </head>
  <body>
    <div class="send-wrap">
          <div class="form-wrap">
              <h1 id="logo">TM</h1>
                  <form id="send-form">
                    <input type="hidden" value="<%= target %>" id="username" />
                    <textarea id="text" placeholder="your text"></textarea>
                    <button id="send-button" type="submit">send</button>
                  </form>
          </div>
          <a href="/">get your own messages</a>
    </div>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script>
        const socket=io("http://localhost:3000");
         
        let sendForm=document.getElementById("send-form");
        let textInput=document.getElementById("text");
        let targ=document.getElementById("username");

        

        const formSubmit=(e)=>{
            e.preventDefault();
            let text=textInput.value;
            let target=targ.value;
            socket.emit("message",{message:text,targ:target});
        }
        sendForm.addEventListener("submit",formSubmit);

    </script>
  </body>
</html>
